div{
  display:flex;
}
.workExperience{
  display:flex;
  flex-direction:column;
}

.columnLeft{
  flex-grow: 0;
    flex-shrink: 0;
    width: 230px;
}

#experience{
  font-size:3em;
}

h1 {
  color:blue;
}

.nameSection h2,h3{
  display: flex;
  justify-content: center;
  font-size: 1em;
  color: grey;
}
    